


  
footer{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 90%;
  padding: 10px; 
  align-items: center;
  background-color: rgb(241, 235, 235);
 
}
footer a{
  color: rgb(88, 5, 165) !important;
}
footer i.fa-instagram{
  color: purple;
}
footer i.fa-github{
  color: black;
}
footer i.fa-linkedin{
  color: blue;
}
footer i{
  margin:0px 10px;
}
 
